 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/styleheets/login.css">
 </head>
 <body>
    <div class="wrapper">
        <form action="/logIn" method="post">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" placeholder="Enter Mobile Number" required>
                <i class='bx bxs-user'></i>
            </div>
           
            <div class="remember-forgot">
               
              
        
            <button class="button" type="submit">Get OTP</button>
           
        </form>
    </div>

 </body>
 </html>
